<launch>
<!-- 4 wheeled robot instantiation -->

	<!-- Launch other relevant files-->
	<group ns = "wheeled_robot">
		<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find atom)/urdf/atom.xacro'" />

		<!-- Send fake joint values-->
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="false"/>
		</node>

		<!-- Send robot states to tf -->
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="wheeled_robot_state_publisher" output="screen">
		</node>

		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="log" 
		args="-urdf -param robot_description -model wheeled_robot1 -x -3 -y 3 -z 0 -R 0 -P 0 -Y 0" />

	</group>

	 <!-- Instantiate the mobile wheeled robot-->
	 <include file="$(find atom)/launch/navigation.launch">	</include>

</launch>
		