[submodule "SportsPoseEstimation/lightweight-human-pose-estimation.pytorch"]
	path = SportsPoseEstimation/lightweight-human-pose-estimation.pytorch
	url = https://github.com/abeyyoseph/lightweight-human-pose-estimation.pytorch.git
