<?xml version="1.0" encoding="utf-8"?>
<robot name="coffee_table">
    <link name="base">
      <inertial>
        <mass value="10.0" />
          <inertia
            ixx="0.192"
            ixy="4.9423E-1"
            ixz="1.2752E-1"
            iyy="0.192"
            iyz="2.6417E-1"
            izz="0.29544" />
      </inertial>
      
      <collision>
        <geometry>
          <mesh scale="0.6 0.6 0.35" filename="package://panda_multiple_arms/meshes/coffee_table.dae" />
        </geometry>
      </collision>

      <visual>
        <geometry>
          <mesh scale="0.6 0.6 0.35" filename="package://panda_multiple_arms/meshes/coffee_table.dae" />
        </geometry>
      </visual>

  </link>
</robot>
